@import '../../../node_modules/reset-css/_reset';

.main {
    position: relative;
    margin: 0 auto;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.2);
}