@import '../../../node_modules/reset-css/_reset';

.main {
    position: absolute;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

canvas {
    display: block;
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.2);
}
